//when you just forget some stuff
h1,h2,h3,h4,h5,h6,h7,p,li{
    max-width: 50ch;
    
}
h1,h2,h3,h4,h5,h6,h7{
    line-height: 1.1;
}
p,.p{
    line-height: 1.6;
}
ol,ul{
    padding: 1em;
}










